body {
   font-family: "Helvetica Neue", sans-serif;
 }
 

 .title, .subtitle, .source {
   width: 800px;
 }
 .title {
   font-size:1.8em;
   font-weight: 900;
 }
 .subtitle {
   font-size: 1.4em;
   font-style: italic;
 }
 .source {
   color: #888;
 }
 
#chart {
	width: 800px;
	height: 500px;
}
